@font-face {
    font-family: "Early Bird";
    src: url(../Early\ Bird.otf);
}

@font-face {
    font-family: "Helvetica";
    src: url(../HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: "Helvetica_bld";
    src: url(../FreeSansBold.otf);
}

@font-face {
    font-family: "Blair";
    src: url(../blair-itc-light.ttf);
}

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Helvetica';
    background-color: #e5e5e5;
    color: #000;
}

.H_bold{
    font-family: 'Helvetica_bld';
    /* font-size: 72px ; */
}

li{
    font-weight: bolder;
}

nav{
    font-family: 'Blair';
    /* font-size: 12.8px; */
    font-size: 0.8rem;
    font-weight: bolder;
}

/* UTILITIES */

.logo{
    height: 38px;
    width: 100%;
}

.point{
    cursor: pointer;
}

.nav_line{
    display: inline-block;
    cursor: pointer;
}

.nav_line::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #998100;
    transition: width .3s;
    margin-top: 4px;
}

.nav_line:hover::after{
    width: 100%;
    transition: width .3s;
}

.nav_line_current{
    border-bottom: 3px solid #998100;
    cursor: pointer;
    padding-bottom: 5px;
}

.nav_hidden{
    background-image: url(../imgs/corporate_man/cm6.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav_hidden{
    display: none;
}

.nav_sm_link{
    list-style-type: none;
    padding-top: 150px;
}

.nav_sm_link >li{
    padding-top: 20px;
    font-size: 24px;
    font-family: 'Blair';
}

.nav_sm_link >li:hover{
    color: #b8a78d;
 }

.nav_sm_link2{
    list-style-type: none;
    display: none;
}

.nav_sm_link2 >li{
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Blair';
}

.nav_sm_link2 >li:hover{
   color: #b8a78d;
}

.fa-xmark:hover{
    color: #fff;
}

.v_line{
    background-color: #8b7701;
    width: 1px;
}

.mm{
    border-left: 5px #8b7701 solid;
}

.white_text{
    color: #fff;
}

.gray_text{
    color: #f8f9fa;
}

.corp_man{
    background-image: url(../imgs/corporate_man/cm1.jpg);
    background-size: cover;
    
}

.corp_man2{
    background-image: url(../imgs/corporate_man/cm2.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.corp_man3{
    background-image: url(../imgs/corporate_man/cm3.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.corp_man4{
    background-image: url(../imgs/corporate_man/cm4.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.corp_man5{
    background-image: url(../imgs/corporate_man/cm5.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.corp_man6{
    background-image: url(../imgs/corporate_man/cm6.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.weekender{
    background-image: url(../imgs/weekender/w1.jpg);
    background-size: cover;
}

.weekender2{
    background-image: url(../imgs/weekender/w2.jpg);
    background-size: cover;
}

.weekender3{
    background-image: url(../imgs/weekender/w3.jpg);
    background-size: cover;
}

.weekender4{
    background-image: url(../imgs/weekender/w4.jpg);
    background-size: cover;
}

.weekender5{
    background-image: url(../imgs/weekender/w5.jpg);
    background-size: cover;
}

.weekender6{
    background-image: url(../imgs/weekender/w6.jpg);
    background-size: cover;
}

.modish_man{
    background-image: url(../imgs/modish_man/m1.jpg);
    background-size: cover;
}

.modish_man2{
    background-image: url(../imgs/modish_man/m2.jpg);
    background-size: cover;
}

.modish_man3{
    background-image: url(../imgs/modish_man/m3.jpg);
    background-size: cover;
}

.modish_man4{
    background-image: url(../imgs/modish_man/modish_man_banner.jpg);
    background-size: cover;
}

.modish_man5{
    background-image: url(../imgs/modish_man/m5.jpg);
    background-size: cover;
}

.modish_man6{
    background-image: url(../imgs/modish_man/m6.jpg);
    background-size: cover;
}

.debonair{
    background-image: url(../imgs/debonair/d1.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.debonairr{
    background-image: url(../imgs/debonair/d1.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.debonair3{
    background-image: url(../imgs/debonair/d3.jpg);
    background-size: cover;
}

.debonair4{
    background-image: url(../imgs/debonair/d4.jpg);
    background-size: cover;
}

.debonair5{
    background-image: url(../imgs/debonair/d5.jpg);
    background-size: cover;
}

.debonair6{
    background-image: url(../imgs/debonair/d6.jpg);
    background-size: cover;
}

.custom_txtf{
    border-radius: 0%;
    height: 64px;
    width: 253px;
}

.custom_txtf2{
    border-radius: 0%;
    height: 64px;
    width: 500px;
    border-color: #8b7701;
    color: #8b7701;
}

.custom_txtf2_md_md{
    border-radius: 0%;
    height: 64px;
    width: 400px;
    border-color: #8b7701;
    color: #8b7701;
}

.custom_txtf2_sm{
    border-radius: 0%;
    height: 64px;
    width: 270px;
    border-color: #8b7701;
    /* border-top-color: #8b7701; */
    color: #8b7701;
}

.custom_txtf2_xs{
    border-radius: 0%;
    height: 64px;
    width: 200px;
    border-color: #8b7701;
    /* border-top-color: #8b7701; */
    color: #8b7701;
}

.construction_sw{
    background-image: url(../imgs/swank_line/construction.jpg);
    background-size: cover;
}

.construction{
    background-image: url(../imgs/modcon/construction.jpg);
    background-size: cover;
}

.fabric_sw{
    background-image: url(../imgs/swank_line/fabrics.jpg);
    background-size: cover;
}

.fabric{
    background-image: url(../imgs/modcon/fabrics.jpg);
    background-size: cover;
}

.fitting{
    background-image: url(../imgs/modcon/fitting.jpeg);
    background-size: cover;
    background-position: center;
}

.one{
    background-image: url(../imgs/1.jpg);
    background-size: cover;
}

.two{
    background-image: url(../imgs/2.jpg);
    background-size: cover;
}

.three{
    background-image: url(../imgs/3.jpg);
    background-size: cover;
}

.four{
    background-image: url(../imgs/4.jpg);
    background-size: cover;
}

.clean_list2{
    text-decoration: none;
    color: #000;
}

.clean_list2:hover{
    text-decoration: none;
    color: #b8a78d;
}

.clean_list{
    text-decoration: none;
    color: #000;
}

.clean_list:hover{
    text-decoration: none;
    color: #000;
}

.float-startt{
    position: relative;
    top: -100px;
}

/* TEXT */

.biggest{
    font-size: 128px;
}

.biggg{
    font-size: 96px;
}

.bigg{
    font-size: 72px;
}

.small{
    font-size: 16px;
}

.big{
    font-size: 36px;
}

.medium{
    font-size: 46px;
}

.mediumm{
    font-size: 56px;
}

.bold{
    font-weight: bold;
}

.boldd{
    font-weight: bolder;
}

.justify{
    text-align: justify;
}

.right{
    text-align: right;
}

.carousel_text{
    position: absolute;
    top: 60px;
    /* width: 1000px; */
}

.carousel_text2{
    position: absolute;
    top: 40px;
    /* width: 70px; */
}

.text-border{
    border-top: 4px solid #998100;
    font-size: 16px;
    text-align: justify;
    padding-top: 10px;
}

.form-text{
    border-top: 4px solid #998100;
    font-size: 16px;
    color: #000;
    text-align: justify;
    padding-left: 10px;
}

.form-text-header{
    font-size: 24px;
    text-align: left;
}

.lookbook_txt{
    background-color: #fff;
    text-align: center;
}

.center{
    text-align: center;
}

.steps_text{
    /* padding-top: 80px; */
    position: relative;
    top: 160px;
}

.process_text_sm{
    margin-top: 100px;
    padding-top: 30px;
    border-top: 4px #8b7701 solid;
    text-align: justify;
}

.process_text{
    margin-top: 250px;
    padding-top: 40px;
    border-top: 4px #8b7701 solid;
    text-align: justify;
}

.process_text_2{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 4px #8b7701 solid;
}

.process_text_22{
    margin-top: 10px;
    padding-top: 1px;
}

.text_link{
    display: block;
    text-decoration: none;
    color: #000;
}

.text_link:hover{
    color: #b8a78d;
}

.text_link2{
    text-decoration: none;
    color: #000;
}

.text_link2:hover{
    color: #b8a78d;
}

/* IMAGES */

.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.process_cat_img1{
    width: 100%;
    height: 100%;
    background: url(../imgs/process/p5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.process_cat_img1:hover{
    transform: scale(1.1);
}

.process_cat_img2{
    width: 100%;
    height: 100%;
    background: url(../imgs/process/p6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.process_cat_img2:hover{
    transform: scale(1.1);
}

.process_cat_img1_sm{
    width: 100%;
    height: 100%;
    background: url(../imgs/process/p5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.process_cat_img1_sm:hover{
    transform: scale(1.1);
}

.process_cat_img2_sm{
    width: 100%;
    height: 100%;
    background: url(../imgs/process/p6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.process_cat_img2_sm:hover{
    transform: scale(1.1);
}

.lifestyle_cat_img1{
    width: 100%;
    height: 100%;
    background: url(../imgs/index/lifestyle1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.lifestyle_cat_img1:hover{
    transform: scale(1.1);
}

.lifestyle_cat_img2{
    width: 100%;
    height: 100%;
    background: url(../imgs/index/lifestyle2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.lifestyle_cat_img2:hover{
    transform: scale(1.1);
}

.hp_cat_img1{
    width: 100%;
    height: 100%;
    background: url(../imgs/corporate_man/corporate_man_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.hp_cat_img:hover{
    transform: scale(1.1);
}

.hp_cat_img2{
    width: 100%;
    height: 100%;
    background: url(../imgs/weekender/weekender_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.hp_cat_img3{
    width: 100%;
    height: 100%;
    background: url(../imgs/modish_man/m3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.hp_cat_img4{
    width: 100%;
    height: 100%;
    background: url(../imgs/debonair/debonair_banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.grid_box_cat_img1{
    width: 100%;
    height: 100%;
    background: url(../imgs/corporate_man/corporate_man_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.grid_box_cat_img2{
    width: 100%;
    height: 100%;
    background: url(../imgs/weekender/weekender_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.grid_box_cat_img3{
    width: 100%;
    height: 100%;
    background: url(../imgs/modish_man/modish_man_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.grid_box_cat_img4{
    width: 100%;
    height: 100%;
    background: url(../imgs/debonair/debonair_banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.grid_box_cat_img:hover{
    transform: scale(1.1);
}

.directors{
    height: 606px;
    width: 885px;
    position: relative;
    top: 50px;
    left: 10px;
}

.directors_sm{
    height: 406px;
    width: 550px;
    position: relative;
    top: 50px;
    left: 10px;
}

.directors_xs{
    height: 330px;
    width: 400px;
    position: relative;
    top: 50px;
    left: -10px;
}

/* BUTTONS */

.custom_btn_2{
    border: 1px solid #b8a78d;
    background-color: #b8a78d;
    color: #fff;
    border-radius: 0%;
    width: 143px;
    font-size: 18px;
}

.custom_btn_banner:hover{
    background-color: #998100;
    color: #fff;
}

.custom_btn_banner{
    border: 1px solid #b8a78d;
    background-color: #b8a78d;
    color: #fff;
    border-radius: 0%;
    width: 143px;
    font-size: 18px;
}

.custom_btn_banner:hover{
    background-color: #998100;
    color: #fff;
}

.custom_btn_banner_sm{
    border: 1px solid #b8a78d;
    background-color: #b8a78d;
    color: #fff;
    border-radius: 0%;
    width: 123px;
    height: 64px;
    font-size: 18px;
}

.custom_btn_banner_sm:hover{
    background-color: #998100;
    color: #fff;
}

.custom_btn{
    border: 1px solid #998100;
    background-color: #fff;
    color: #998100;
    border-radius: 0%;
    width: 143px;
    font-size: 18px;
}

.custom_btn_hp{
    border: 1px solid #998100;
    background-color: #fff;
    color: #998100;
    border-radius: 0%;
    width: 200px;
    font-size: 18px;
}

.custom_btn:hover{
    background-color: #8b7701;
    color: #fff;
}

.icons_button{
    border: 2px solid #000;
    background-color: #fff;
    color: #998100;
    border-radius: 0%;
    width: 730px;
    height: 56px;
    font-size: 18px;
}

.icons_button:hover{
    background-color: #998100;
    color: #fff;
}

.icons_button_xs{
    border: 2px solid #000;
    background-color: #fff;
    color: #998100;
    border-radius: 0%;
    width: 350px;
    height: 90px;
    font-size: 18px;
}

.icons_button_xs:hover{
    background-color: #998100;
    color: #fff;
}

.icons_button_cover{
    padding-left: 260px;
}

.icons_button_cover_md_md{
    padding-left: 100px;
}

.icons_button_cover_md_md{
    padding-left: 80px;
}

.icon-btn-shoulder{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -65%;
    left: -2%;
}

.icon-btn-shoulder_sm{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -65%;
    left: -60%;
}

.icon-btn-sleeve{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -40%;
    left: 30%;
}

.icon-btn-sleeve_sm{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -40%;
    left: 30%;
}

.icon-btn-jc{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -50%;
    left: -10%;
}

.icon-btn-lp{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -58%;
    left: -1%;
}

.icon-btn-ft{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -38%;
    left: -10%;
}

.icon-btn-bc{
    background-color: white!important;
    color: #998100;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -16%;
    left: -1%;
}

/* SHOWCASES */
#showcase_mm{
    background-image: url(../imgs/marquess_man.jpeg);
    background-size: cover;
    height: 300px;
    background-position: bottom;
}

#showcase_sl{
    background-image: url(../imgs/swank_line/s1.jpg);
    background-size: cover;
    height: 400px;
    background-position: bottom;
}

#showcase_hp{
    background-size: cover;
    height: 400px;
    background-position: bottom;
}

#showcase_ml{
    background-image: url(../imgs/modcon/m1_2.jpg);
    background-size: cover;
    height: 400px;
    background-position: left;
}

#process{
    background-image: url(../imgs/process/our-process-hero.png);
    height: 260px;
}

#story{
    height: 100px;
}

.early_bird{
    font-family: 'Early Bird';
    padding-top: 190px;
}

.early_birdd{
    font-family: 'Early Bird';
}

.sl_showcase_txt_box{
    height: 300px;
    width: 332px;
    font-size: 18px;
    text-align: justify;
    margin-right: 150px;
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 30px 40px 40px rgba(0,0,0,0.3);
    /* backdrop-filter: blur(3px);  */
}

/* FLEX AND GRIDS */
.cat_parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.cat_parent2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.cat_parent3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.parent_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.parent_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.parent_2_md_md{
    display: block;
}

.steps_parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.lookbook_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

/* BOXES */

.slide_box{
    position:relative;
}

.process_cat_current{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.hp_cat_current{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 400px;
    width: 290px;
    overflow: hidden;
    position: relative;
}

.grid_box_cat_current{
    border: 12px solid #b8a78d;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 160px;
    width: 290px;
    overflow: hidden;
    position: relative;
}

.grid_box_cat{
    border: 12px solid #fff;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 160px;
    width: 290px;
    overflow: hidden;
    position: relative;
}

.grid_box_cat_current_md{
    border: 12px solid #b8a78d;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 200px;
    width: 350px;
    overflow: hidden;
    position: relative;
}

.grid_box_cat_md{
    border: 12px solid #fff;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 200px;
    width: 350px;
    overflow: hidden;
    position: relative;
}

.article-title-link {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.process-title-link {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    top: 380px;
    left: 150px;
}

.process-title-link_md_md {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    top: 380px;
    left: 60px;
}

.process-title-link_sm {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    top: 210px;
    left: 20px;
}

.lifestyle-title-link {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    top: 180px;
    left: 130px;
}

.lifestyle-title-link_sm {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    top: 180px;
    left: 60px;
}

.hp-title-link {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    top: 200px;
    left: 30px;
}

.grid_box_cat:hover{
    border-color:#b8a78d;
}

.grid_box_cat:visited{
    border-color:#b8a78d;
}

.grid_box_1{
    height: 640px;
    width: 900px;
}

.grid_box_2{
    height: 940px;
    width: 630px;
}

.grid_box_2_md{
    height: 940px;
    width: 600px;
}

.grid_box_2_xs{
    height: 940px;
    width: 430px;
    background-position: center;
}

.img_box_1{
    height: 640px;
    width: 1100px;
    margin-left: 13%;
}

.img_box_1_md{
    height: 640px;
    width: 1000px;
    margin-left: 13%;
}

.img_box_1_md_md{
    height: 640px;
    width: 830px;
    margin-left: 13%;
}

.img_box_1_sm{
    height: 640px;
    width: 700px;
    margin-left: 7%;
    background-position: center;
}

.img_box_1_xs{
    height: 690px;
    width: 360px;
    /* margin-left: 7%; */
    background-position: center;
}

.img_box_1_xsr{
    height: 690px;
    width: 430px;
    margin-left: 7%;
    background-position: right;
}

.img_box_1_xs2{
    height: 700px;
    width: 430px;
    margin-left: 7%;
    background-position: left;
}

.img_box_1_xs2c{
    height: 690px;
    width: 430px;
    margin-left: 7%;
    background-position: center;
}

.text_box_parent{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 450px;
    width: 800px;
}

.text_box_child{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 40px;
}

.text_box_parent2{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 600px;
    width: 600px;
}

.text_box_parent2_md{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 600px;
    width: 550px;
}

.text_box_parent2_xs{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 500px;
    width: 320px;
    margin-left: 10px;
}

.text_box_parent2_xsu{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 430px;
    width: 330px;
    margin-left: 0px;
}

.text_box_parent2_xsd{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 650px;
    width: 330px;
    margin-left: 0px;
}

.text_box_child2{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 40px;
}

.text_box_parent3{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 370px;
    width: 850px;
}

.text_box_parent3_md_md{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 370px;
    width: 800px;
}

.text_box_child3{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.text_box_parent4{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 390px;
    width: 850px;
}

.text_box_parent4_md_md{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 390px;
    width: 800px;
}

.text_box_parent4_sm{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 390px;
    width: 700px;
}

.text_box_parent4_xs{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 380px;
    width: 345px;
}

.text_box_parent4_xs_mm{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 360px;
    width: 320px;
    margin-left: 0%;
}

.text_box_parent4_xs_2{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 320px;
    width: 320px;
    margin-left: 0px;
}

.text_box_parent4_xs_2_2{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 360px;
    width: 310px;
    margin-left: 0px;
}

.text_box_child4{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-box{
    border: 1px solid #fff;
    background-color: #fff;
    height: 310px ;
    width: 600px;
}

.form-box_sm{
    border: 1px solid #fff;
    background-color: #fff;
    height: 410px ;
    width: 600px;
}

.form-box_xs{
    border: 1px solid #fff;
    background-color: #fff;
    height: 380px ;
    width: 350px;
}

.form-box2{
    border: 1px solid #fff;
    background-color: #fff;
    height: 210px ;
    padding-top: 60px;

}

.form-box2_xs{
    border: 1px solid #fff;
    background-color: #fff;
    height: 270px ;
    padding-top: 60px;

}

.form-box3{
    border: 1px solid #fff;
    background-color: #fff;
    height: 270px ;
    padding-top: 60px;
}

.form-box3_xs{
    border: 1px solid #fff;
    background-color: #fff;
    height: 420px ;
    padding-top: 60px;
}

.steps_box{
    height: 634px;
    width: 430px;
}

.steps_box_md{
    height: 634px;
    width: 360px;
}

.steps_box_md_md{
    height: 640px;
    width: 330px;
}

.steps_box_sm{
    height: 640px;
    width: 750px;
}

.steps_box_xs{
    height: 640px;
    width: 360px;
}

.lkbk{
    padding-left: 200px
}

.text_box_steps_1{
    border: 1px solid #fff;
    background-color: #fff;
    height: 300px;
    padding: 40px 20px;
}

.text_box_steps_1_md{
    border: 1px solid #fff;
    background-color: #fff;
    height: 350px;
    padding: 30px 20px;
}

.text_box_steps_1_md_md{
    border: 1px solid #fff;
    background-color: #fff;
    height: 370px;
    padding: 30px 20px;
}

.text_box_steps_1_sm{
    border: 1px solid #fff;
    background-color: #fff;
    height: 240px;
    padding: 30px 20px;
    width: 730px;
}

.text_box_steps_1_xs{
    border: 1px solid #fff;
    background-color: #fff;
    height: 305px;
    padding: 20px 20px;
    width: 370px;
}

.text_box_steps_2{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 345px;
    width: 400px;
}

.text_box_steps_3{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 390px;
    width: 400px;
}

.text_box_steps_child{
    border-bottom: 4px solid #998100;
    background-color: #fff;
    /* margin-top: 40px; */
    padding-bottom: 40px;
    text-align: center;
}

.lookbook_box{
    height: 644px;
    width: 450px;
}

#lookbook_1{
    height: 145px;
    background-color: #fff;
}

#icons{
    text-align: center;
    background-color: #fff;
    /* padding-top: 20; */
}

#price{
    background-color: #fff;
}

.icons-box{
    border: 1px solid #fff;
    background-color: #fff;
    height: 96px ;
    width: 1000px;
}

.icons-box_md_md{
    border: 1px solid #fff;
    background-color: #fff;
    height: 96px ;
    width: 1900px;
}

.icons-box_sm{
    border: 1px solid #fff;
    background-color: #fff;
    height: 96px ;
    width: 700px;
}


.slider{
    background-color: #b8a78d;
    font-size: 14px;
    /* font-weight: lighter; */
}

.details_box{
    background-color: #fff;
    padding-left: 50px;
    padding-top: 64px;
    margin-top: 40px ;
    padding-bottom: 64px;
    width: 1150px ;
}

.details_box_xs{
    background-color: #fff;
    padding-left: 50px;
    padding-top: 64px;
    margin-top: 40px ;
    padding-bottom: 64px;
    width: 460px ;
}

.details_img{
    background-image: url(../imgs/swank_line/cooperateManLook1.png);
    width: 1000px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.details_img_md_md{
    background-image: url(../imgs/swank_line/cooperateManLook1.png);
    width: 800px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.details_img_sm{
    background-image: url(../imgs/swank_line/cooperateManLook1.png);
    width: 600px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.details_img_xs{
    background-image: url(../imgs/swank_line/cooperateManLook1.png);
    width: 400px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.details_img2{
    background-image: url(../imgs/swank_line/cooperateManLook2.png);
    width: 750px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
}

.details_img2_xs{
    background-image: url(../imgs/swank_line/cooperateManLook2.png);
    width: 380px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
}

.details_txt_box{
    /* width: 60%; */
    padding-left: 300px;
    padding-right: 50px;
    padding-top: 40px;
    
}

.details_txt_boxl{
    padding-right: 300px;
    padding-top: 40px;
    
}

.details_txt_box2{
    width: 280px;
    height: 168px;
}

.img-resize5{
    object-fit: cover;
    width: 70%;
    height: 400px
}

.process_box{
    height: 600px;
    width: 1500px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.process_box_md_md{
    height: 600px;
    width: 1500px;
    background-color: #fff;
    /* padding: 20px; */
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.process_box_sm{
    height: 850px;
    width: 1500px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.process_box_xs{
    height: 850px;
    width: 450px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.process_img_box{
    height: 800px;
    width: 1500px;
    background-color: #fff;
    padding: 30px 150px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.process_img_box>img{
   object-fit: cover;
}

.process_img_box_sm{
    height: 550px;
    width: 1700px;
    background-color: #fff;
    padding: 30px 150px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.process_img_box_sm>img{
   object-fit: cover;
}

.process_img_box_xs{
    height: 550px;
    width: 1700px;
    background-color: #fff;
    padding: 30px 150px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.process_img_box_xs>img{
   object-fit: cover;
}

.process_box_img{
    height: 500px;
    width: 575px;
    object-fit: cover;
}

.process_box_img_md_md{
    height: 500px;
    width: 380px;
    object-fit: cover;
}

.process_box_img_sm{
    height: 450px;
    width: 650px;
    object-fit: cover;
}

.process_box_img_xs{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.lifestyle_img_box{
    height: 500px;
    width: 1500px;
    background-color: #fff;
    padding: 30px 150px;
    overflow: hidden;
    position: relative;
}

.lifestyle_img_box>img{
   object-fit: cover;
}

.lifestyle_img_box_md_md{
    height: 500px;
    width: 1000px;
    background-color: #fff;
    padding: 30px 0px;
    overflow: hidden;
    position: relative;
}

.lifestyle_img_box_md_md>img{
   object-fit: cover;
}

.lifestyle_img_box_sm{
    height: 500px;
    width: 800px;
    background-color: #fff;
    padding: 30px 0px;
    overflow: hidden;
    position: relative;
}

.lifestyle_img_box_sm>img{
   object-fit: cover;
}

/* .process_box{
    height: 300px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 290px;
    overflow: hidden;
    position: relative;
} */

.story_box{
    height: 720px;
    width: 1500px;
    background-color: #fff;
    text-align: justify;
    line-height: 30px;
}

.story_box_md{
    height: 830px;
    width: 1500px;
    background-color: #fff;
    text-align: justify;
    line-height: 30px;
}

.story_box_md_md{
    height: 930px;
    width: 1500px;
    background-color: #fff;
    text-align: justify;
    line-height: 30px;
}

.story_box_sm{
    height: 1100px;
    width: 800px;
    background-color: #fff;
    text-align: justify;
    line-height: 30px;
}

.story_box_xs{
    height: 1600px;
    width: 500px;
    background-color: #fff;
    text-align: justify;
    line-height: 30px;
}

.hp_box{
    background-color: #fff;
    /* padding: 10px; */
}


/* DROPDOWN */

.dropbtn {
    border: none;
    text-decoration: none;
    color: #000;
  }

.dropbtn:hover {
    color: #000;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    opacity: 0.5;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-top: 5px; */
  }

  .dropdown-content:hover {
    background-color: #fff;
    opacity: 1;
  }

  .dropdown-content a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color: #998100;
}

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
}

  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}


/* JAVASCRIPT */

#shoulder_pad{
    display: none;
}

#sleeve_pad{
    display: none;
}

#jacket_canvas{
    display: none;
}

#lapel{
    display: none;
}

#fit{
    display: none;
}

#bc{
    display: none;
}

#shoulder_pad_md{
    display: none;
}

#sleeve_pad_md{
    display: none;
}

#jacket_canvas_md{
    display: none;
}

#lapel_md{
    display: none;
}

#fit_md{
    display: none;
}

#bc_md{
    display: none;
}
#shoulder_pad_md_md{
    display: none;
}

#sleeve_pad_md_md{
    display: none;
}

#jacket_canvas_md_md{
    display: none;
}

#lapel_md_md{
    display: none;
}

#fit_md_md{
    display: none;
}

#bc_md_md{
    display: none;
}
#shoulder_pad_sm{
    display: none;
}

#sleeve_pad_sm{
    display: none;
}

#jacket_canvas_sm{
    display: none;
}

#lapel_sm{
    display: none;
}

#fit_sm{
    display: none;
}

#bc_sm{
    display: none;
}
#shoulder_pad_xs{
    display: none;
}

#sleeve_pad_xs{
    display: none;
}

#jacket_canvas_xs{
    display: none;
}

#lapel_xs{
    display: none;
}

#fit_xs{
    display: none;
}

#bc_xs{
    display: none;
}

#details{
    display: none;
}

#details_md{
    display: none;
}

#details_md_md{
    display: none;
}

#details_sm{
    display: none;
}

#details_xs{
    display: none;
}

#the_weekender_show{
    display: none;
}

#modish_man_show{
    display: none;
}

#debonair_show{
    display: none;
}

/* MEDIA QUERY  */

#the_weekender_show_md{
    display: none;
}

#modish_man_show_md{
    display: none;
}

#debonair_show_md{
    display: none;
}

#the_weekender_show_md_md{
    display: none;
}

#modish_man_show_md_md{
    display: none;
}

#debonair_show_md_md{
    display: none;
}

#the_weekender_show_sm{
    display: none;
}

#modish_man_show_sm{
    display: none;
}

#debonair_show_sm{
    display: none;
}

#the_weekender_show_xs{
    display: none;
}

#modish_man_show_xs{
    display: none;
}

#debonair_show_xs{
    display: none;
}

.show_md{
    display: none;
}

.show_md_grid{
    display: none;
}

.show_sm{
    display: none;
}

.show_sm_grid{
    display: none;
}

.show_md_md{
    display: none;
}

.show_md_md_grid{
    display: none;
}

.nav_sm{
    display: none;
}

.show_xs{
    display: none;
}

.show_xs_grid{
    display: none;
}

@media only screen and (max-width: 1405px){

    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body{
        /* background-color: rebeccapurple; */
    }

    .show_bg{
        display: none;
    }
    .show_md{
        display: block;
    }
    .show_md_grid{
        display: grid;
    }
    .show_md_md{
        display: none;
    }
    .show_md_md_grid{
        display: none;
    }
    .nav_md_adjust{
        padding-left: 300px;
    }
}

@media only screen and (max-width: 1300px){

    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body{
        /* background-color: red; */
    }

    .show_bg{
        display: none;
    }
    .show_md{
        display: none;
    }
    .show_md_grid{
        display: none;
    }
    .show_md_md{
        display: block;
    }
    .show_md_md_grid{
        display: grid;
    }
    .nav_md_adjust{
        padding-left: 170px;
    }
}

@media only screen and (max-width: 1000px){
    body{
        /* background-color: rebeccapurple; */
    }

    .show_xs{
        display: none;
    }

    .show_xs_grid{
        display: none;
    }
    .nav_sm{
        display: block;
    }
    .show_sm{
        display: block;
    }
    .show_sm_grid{
        display: grid;
    }
    .show_bg{
        display: none;
    }
    .show_md{
        display: none;
    }
    .show_md_grid{
        display: none;
    }
    .show_md_md{
        display: none;
    }
    .show_md_md_grid{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    body{
        /* background-color: red; */
    }

    .nav_sm{
        display: block;
    }
    .show_xs{
        display: block;
    }
    .show_xs_grid{
        display: grid;
    }
    .show_sm{
        display: none;
    }
    .show_sm_grid{
        display: none;
    }
    .show_bg{
        display: none;
    }
    .show_md{
        display: none;
    }
    .show_md_grid{
        display: none;
    }
    .show_md_md{
        display: none;
    }
    .show_md_md_grid{
        display: none;
    }
}
